.user-card{
  padding: 0px 0px;
  margin: 0px 0px;
}

.pchead{
  color: #85fff4;
  display: inline;
}

.userinfo{
  align-self: center;
}

.col.user-card.bg-dark.text-white.card {
    padding: 0px 0px;
    margin: 0px 5px;
}

.upvotes{
  border: 1px solid;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  transition: background-color .3s ease;
  cursor: pointer;
}

.voted{
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.username{
  line-height: 8px;
  color: #c8c8c8;
}

.usertype{
  border: 1px solid white;
  padding: 5px 10px;
  display: inline;
  border-radius: 20px;
}

.admin-colors{
  color: #f73737;
  border: 1px solid #f73737;
}

.pc-colors{
  color: #85fff4;
  border: 1px solid #85fff4;
}

.inner-card{
  margin: 10px;
}

.playbutton{
  font-size: 20px;
}

.card-header img{
  border-radius: 200px;
  width: 100px;
  height: 100px;
}

.lastlogin{
  font-size: 12px;
  margin-top: 10px;
  color: #707070;
}

.card-header{
padding: 20px 70px;
background-color: rgba(107, 105, 105, 0.27);
}

.userlink{
  cursor: pointer;
  transition: all .3s ease;
}

.userlink:hover{
  text-decoration: none;
  color: #fff;
  transition: all .3s ease;
}
