<div *ngIf="pcUID" class="row mx-2">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 user-card bg-dark text-white card" *ngIf="profileUser">
  <div class="card-header">
    <div class="row">
      <div *ngIf="playData" class="col text-center userinfo">
        <img src="{{profileAvatar}}" *ngIf="profileAvatar"/>
        <h5 class="mt-2">{{profileName}}</h5>
        <a class="userlink username" routerLink="/user/{{profileUser | lowercase}}">{{profileUser}} <i *ngIf="profileType=='Super-Admin' || profileType=='Admin' || profileType=='PlayCaller' || profileType=='Verified User'" placement="top" ngbTooltip="Verified" class="fas fa-check"></i></a>
        <p>{{pcBio}}</p>
        <p *ngIf="pcGroupName"><strong>Group</strong><br>{{pcGroupName}}</p>
        <br>
        <p *ngIf="voted==false && userID!=profileID"(click)="upVote()" class="upvotes"><i class="far fa-thumbs-up"></i> Like</p>
        <p *ngIf="voted==true && userID!=profileID"(click)="upVote()" class="upvotes voted"><i class="far fa-thumbs-down"></i> Unlike</p>
        <br *ngIf="userID!=profileID"><br *ngIf="userID!=profileID">
        <p class="likes">Likes: {{pcLikes}}</p>
      </div>
      <div *ngIf="!playData" class="justify-content-center mt-5 mb-5">
        <div class="spinner-border text-center d-block mx-auto" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <p class="ml-2 text-center"><strong>Please Wait...</strong></p>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 user-card bg-dark text-white card" *ngIf="profileUser">
  <div class="card-header">
      <div class="text-center userinfo">
        <h2>Most Recent Plays</h2>
      </div>
  </div>
</div>
</div>
<!-- <div *ngIf="!pcUID">
  <h4
    class="text-center"
    style="color:grey;">
    PlayCaller does not exist
  </h4>
</div> -->
