<div class="footer-container bg-dark text-white container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mt-2">
      <div class="d-flex logocol">
        <a href="/"><img class="main-logo" src="/assets/images/PlainLogoWhite.png" alt="9Forty5"></a>
        <div class="d-block mx-auto text-center">
        <a href="https://twitter.com/9forty5ive" target="_blank" class="d-inline social"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank" class="d-inline social"><i class="fab fa-youtube"></i></a>
        <a href="https://instagram.com/9forty5ive" target="_blank" class="d-inline social"><i class="fab fa-instagram"></i></a>
        <a href="https://discord.gg/aU7Zups" target="_blank" class="d-inline social"><i class="fab fa-discord"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-2">
      <div class="d-block mx-auto text-center">
        <h4>Navigation</h4>
        <a class="d-block" href="/">Home</a>
        <a class="d-block" routerLink="/about">About</a>
        <a class="d-block" routerLink="/learn">Learning Hub</a>
        <a class="d-block" routerLink="/gainzone">GainZone</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-2">
      <div class="d-block mx-auto text-center">
        <h4>Other Pages</h4>
        <a class="d-block" href="#">Privacy Policy</a>
        <a class="d-block" href="#">Terms of Use</a>
        <a class="d-block" href="#">Contact Us</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 mt-2">
    </div>
    <div class="col-12 mt-4">
      <p class="text-center" style="color:#aaa;">Copyright {{currentYear}} - <a href="/">9Forty5.com</a> - All Rights Reserved</p>
    </div>
  </div>
</div>
