<div class="nav-container">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-between">
        <div class="logo-container">
          <a href="/"><img class="main-logo" src="/assets/images/PlainLogoBlack.png" alt="9Forty5"></a>
        </div>
        <div class="main-navigation">
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="ideas">Ideas</a></li>
            <li><a routerLink="learn">Learn</a></li>
            <li><a routerLink="hot-stocks" class="hot-stocks"><i class="fas fa-fire"></i> Hot Stocks</a></li>
          </ul>
          <app-profilenav></app-profilenav>
        </div>
      </div>
    </div>
  </div>
</div>
