.bodytoolbar, .bodytext {
    background: #fff;
}

[type="file"] + label {
  background: #777;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 10px;
  outline: none;
  transition: all 0.3s ease;
}

[type="file"] + label:hover {
  background: #555;
  transition: all 0.3s ease
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  opacity: 0;
}

[type="text"] {
  min-width: 300px;
}

::ng-deep .ql-editor {
    max-width: 100%;
}

.postHeader{
  max-width: 100%;
}

.postHeader img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  filter: brightness(.4);
  -webkit-filter: brightness(.4);
  -moz-filter: brightness(.4);
}

.headerOverlay{
  top: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  right: 15px;
  padding-left: 30px;
}

.postHeader h2{
  max-width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 45px;
  padding-top: .25rem;
}

.postHeader .author .author-link{
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.postHeader .author .author-link:hover{
  color: #e7e7e7;
}

.postHeader .author{
  text-align: center;
  max-width: 100%;
  font-size: 18px;
  color:#e7e7e7;
  line-height: 5px;
}

.date{
  max-width: 100%;
  font-size: 14px;
  color: #c9c9c9;
  line-height: 15px;
  padding: 10px 20px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.date hr{
  border-top: 1px solid #c9c9c9;
  width: 40px;
  margin-left: 0px;
}

.card-body{
  padding: 10px 20px;
  padding-bottom: 30px;
}

.postBody{
  padding: 0px 20px;
}

.imageuploaded{
  width: 50px;
  height: 50px;
  font-size: 29px !important;
  padding-top: 4px;
  padding-left: 14px;
}

.imageupped{
  height: 100px;
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.removeupload{
  padding-top: 0px;
  background-color: #f64242;
  color: #fff;
  border: 0px;
}
