<div class="watchlist bg-dark card">
  <div class="card-header text-white"><strong>The Big Boys</strong></div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let stock of stockData | orderBy: ['-chg']" class="list-group-item bg-dark text-white"><h4 clas="stock-name">
      {{ stock.name }}<span class="symbol">{{ stock.symbol }}</span></h4>
      <p *ngIf="stock.chg >= 0" class="price positive">{{ stock.price }} <i class="fas fa-caret-up"></i><br><span class="change positive">{{ stock.chg }}  ({{ stock.chg_percent }})</span></p>
      <p *ngIf="stock.chg < 0" class="price negative">{{ stock.price }} <i class="fas fa-caret-down"></i><br><span class="change negative">{{ stock.chg }}  ({{ stock.chg_percent }})</span></p>
      <small class="lastupdate">Last Update: {{ stock.last_update | date:"MM/dd/yyyy 'at' h:mma":"-0800"}} EST</small>
    </li>
  </ul>
</div>
