.user-card{
}

.userinfo{
  align-self: center;
}

.username{
  line-height: 8px;
  color: #c8c8c8;
}

.usertype{
  border: 1px solid white;
  padding: 5px 10px;
  display: inline;
  border-radius: 20px;
}

.admin-colors{
  color: #f73737;
  border: 1px solid #f73737;
}

.pc-colors{
  color: #85fff4;
  border: 1px solid #85fff4;
}

.banned{
  color: #ff8300;
  border: 1px solid #ff8300;
}

.pc-link{
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 20px;
  width: 135px;
  color: #85eeff;
  border: 1px solid #85eeff;
  margin-top: 10px;
}

.pc-link:hover{
  text-decoration: none;
  color: #000;
  background-color: #85eeff;
  border: 1px solid #85eeff;
}


.inner-card{
  margin: 10px;
}

.playbutton{
  font-size: 20px;
}

.card-header img{
  border-radius: 200px;
  width: 100px;
  height: 100px;
}

.lastlogin{
  font-size: 12px;
  margin-top: 10px;
  color: #707070;
}

.card-header{
padding: 20px 70px;
background-color: rgba(107, 105, 105, 0.27);
}

h3{
  padding-top: 5px;
}
