.user-card{
  margin-top: 50px;
}

img{
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-body{

}

.btn{
  margin: 10px 0px;
}

.btn-dark{
  margin-left: 5px;
}

.filename{
  margin-left: 10px;
}

input, select, textarea{
  width: 300px;
}
