<div class="row">
  <div class="col-12">
    <div class="card border-0">
      <div class="card-body pb-1">
        <input (keyup)="searchUsers()" class="text-center d-block mx-auto" type="text" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search Users...">
        <!-- <a *ngIf="searchTerm || searchTerm==''" (click)="clearSearch()" class='clearbtn btn btn-secondary text-center d-block mx-auto'>Clear Search</a> -->
        <table *ngIf="users" class="text-dark">
          <thead>
          </thead>
          <tr *ngFor="let user of users | orderBy: ['-uid']">
            <td *ngIf="user.usertype=='Super-Admin' || user.usertype=='Admin'">
              <a class="username admin-color" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}} <i placement="top" ngbTooltip="Verified" class="fas fa-check"></i></a>
            </td>
            <td *ngIf="user.usertype=='PlayCaller'">
              <a class="username pc-color" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}} <i placement="top" ngbTooltip="Verified" class="fas fa-check"></i></a>
            </td>
            <td *ngIf="user.usertype=='Editor'">
              <a class="username ed-color" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}} <i placement="top" ngbTooltip="Verified" class="fas fa-check"></i></a>
            </td>
            <td *ngIf="user.usertype=='User' || user.usertype=='Verified User'">
              <a class="username" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}} <i *ngIf="user.usertype=='Verified User'" placement="top" ngbTooltip="Verified" class="fas fa-check"></i></a>
            </td>
            <td *ngIf="user.usertype=='BANNED'">
              <a class="username banned" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}}</a>
            </td>
            <td>{{user.usertype}}</td>
            <td class="admodal" *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin'">
              <div class="d-block mx-auto">
              <button (click)="saveUIDInfo(user.uid, user.username, user.usertype, user.slug, user.is_playcaller)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#admModal"><i class="fas fa-crown"></i></button>
              </div>
            </td>
          </tr>
        </table>
        <div *ngIf="showArrows==true" class="d-block mx-auto mt-3 text-center">
          <a (click)="prevTen()" class="btn btn-primary d-inline"><i class="fas fa-arrow-left"></i></a>
          <p class="btn btn-light d-inline">{{page}}</p>
          <a (click)="nextTen()" class="btn btn-primary d-inline"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
