<div class="row">
  <div class="col-12 mt-2">
    <div class="card">
      <div class="card-header bg-light text-dark text-center"><h3>User Directory</h3></div>
      <div class="card-body bg-dark">
        <input (keyup)="searchUsers()" class="text-center d-block mx-auto mb-2 mt-3" type="text" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search Users...">
        <a *ngIf="searchTerm || searchTerm==''" (click)="clearSearch()" class='clearbtn btn btn-secondary text-center d-block mx-auto'>Clear Search</a>
        <table class="text-white">
          <thead>
            <th>Username</th>
            <th>User Type</th>
            <th class="admops" *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin'">Admin Operations</th>
          </thead>
          <tr *ngFor="let user of users | orderBy: ['-uid']">
            <td *ngIf="user.usertype=='Super-Admin' || user.usertype=='Admin'">
              <a class="username admin-color" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}} <i *ngIf="user.usertype=='Super-Admin' || user.usertype=='Admin' || user.usertype=='PlayCaller' || user.usertype=='Verified User'" placement="top" ngbTooltip="Verified" class="fas fa-check"></i></a>
            </td>
            <td *ngIf="user.usertype=='PlayCaller'">
              <a class="username pc-color" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}} <i *ngIf="user.usertype=='Super-Admin' || user.usertype=='Admin' || user.usertype=='PlayCaller' || user.usertype=='Verified User'" placement="top" ngbTooltip="Verified" class="fas fa-check"></i></a>
            </td>
            <td *ngIf="user.usertype=='User' || user.usertype=='Verified User'">
              <a class="username" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}} <i *ngIf="user.usertype=='Super-Admin' || user.usertype=='Admin' || user.usertype=='PlayCaller' || user.usertype=='Verified User'" placement="top" ngbTooltip="Verified" class="fas fa-check"></i></a>
            </td>
            <td *ngIf="user.usertype=='BANNED'">
              <a class="username banned" routerLink="/user/{{user.slug}}">
                <img src="{{user.image_path}}" width="25px" height="25px">
                {{user.username}}</a>
            </td>
            <td>{{user.usertype}}</td>
            <td class="admops" *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin'">
              <div class="d-block mx-auto">
              <a routerLink="/edituser/{{user.slug}}" class="btn btn-primary d-inline mx-1">Edit</a>
              <a (click)="open(content)" class="btn btn-warning d-inline mx-1">Send Noti</a>
              <a *ngIf="user.is_playcaller=='false'" (click)="makePC(user.uid, user.username)" class="pc-btn btn btn-secondary d-inline mx-1">Make PlayCaller</a>
              <a *ngIf="user.is_playcaller=='true'" (click)="removePC(user.uid, user.username)" class="btn btn-secondary d-inline mx-1">Remove PlayCaller</a>
              <a *ngIf="user.usertype!='BANNED'" (click)="banUser(user.username)" class="btn btn-danger d-inline mx-1">Ban User</a>
              <a *ngIf="user.usertype=='BANNED'" (click)="unbanUser(user.username)" class="btn btn-success d-inline mx-1">UnBan User</a>
              </div>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Send Notification</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="text" placeholder="Noti Title" name="NotiMsg" [(ngModel)]="this.NotiTitle">
                  <br><br>
                  <input type="text" placeholder="Noti Message" name="NotiBody" [(ngModel)]="this.NotiBody">
                  <br><br>
                  <input type="text" placeholder="Noti Link" name="NotiLink" [(ngModel)]="this.NotiLink">
                  <br><br>
                  <button class="btn btn-primary" (click)="sendNoti(user.uid)">Send Notification</button>
                </div>
              </ng-template>
            </td>
          </tr>
        </table>
        <div class="d-block mx-auto mt-3 text-center">
          <a (click)="prevTen()" class="btn btn-primary d-inline"><i class="fas fa-arrow-left"></i></a>
          <p class="btn btn-light d-inline">{{page}}</p>
          <a (click)="nextTen()" class="btn btn-primary d-inline"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
