table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead{
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid #fff;
}

td, th {
  text-align: left;
  padding: 8px;
  background-color: rgba(0,0,0,0);
  color: #fff !important;
}

tr {
  background-color: rgba(0,0,0,0);
  color: #fff;
}

.username{
  color: #fff;
  text-decoration: none;
}

.username:hover{
  color: #aaa;
  text-decoration: none;
}

.admin-color{
  color: #f73737;
}

.pc-color{
  color: #85fff4;
}

.banned{
  color: #3f3f3f;
}

img{
  margin-right: 5px;
  border-radius: 25px;
}

.clearbtn{
  margin-bottom: 10px;
  width: 200px;
}

.card-body{
  padding-top: 0px;
}

@media only screen and (max-width: 951px) {
  .admops{
    display: none;
  }
}

.pc-btn{
  padding-left: 22px;
  padding-right: 22px;
}
