<div class="row">
  <div class="col-12 mt-2">
    <div class="card bg-dark">
      <div class="card-body w-80 text-left">
        <!-- <h4 class="text-white mb-3">Edit Post</h4>
        <p (click)="removeUpload()" *ngIf="imageBase64" class="btn btn-light mb-3 imageuploaded removeupload">x</p>
        <input type="file" (change)="handleUpload($event)" placeholder="New Post Image Link" id="newPostImage" name="newPostImage" [(ngModel)]="this.newPostImage">
        <label *ngIf="!imageBase64" for="newPostImage" class="btn btn-light mb-3 imageuploaded">+</label><img *ngIf="imageBase64" class="imageupped" src="{{imageBase64}}">
        <br>
        <input type="text" placeholder="New Post Title" name="newPostTitle" [(ngModel)]="this.newPostTitle">
        <br><br>
        <input type="text" class="excerpt" placeholder="New Post Excerpt" name="newPostExcerpt" [(ngModel)]="this.newPostExcerpt">
        <br>
        <div class="text-dark mt-3 bg-white">
          <quill-editor [styles]="{height: '200px'}" class="editor" placeholder="New Post Body" name="newPostBody" [(ngModel)]="this.newPostBody">
          </quill-editor>
        </div>
        <br>
        <button class="btn btn-primary mx-2" (click)="savePost()">Create Post</button>
        <button class="btn btn-danger mx-2" routerLink="/editormenu">Cancel</button> -->
      </div>
    </div>
  </div>
</div>
