<div class="row">
  <div class="col-lg-6 mt-3">
    <div class="gainzone-container bg-trans jumbotron jumbotron-fluid text-center">
      <img class="gainzone-logo" src="/assets/images/GainZoneBlackRedGreen.png"/>
    </div>
  </div>
  <div class="col-lg-6 mt-3">
    <div class="gainzone-container jumbotron jumbotron-fluid">
      <h4 class="text-center">Top PlayCallers:</h4>
      <ul>
        <li>1. Mizzy</li>
        <li>2. Jeff</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 mt-3">
    <div class="card bg-dark">
      <div class="card-header text-white"><h3>Something</h3></div>
      <div class="card-body">
        <p class="text-white">Coming Soon</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mt-3">
    <div class="card bg-dark">
      <div class="card-header text-white"><h3>Something</h3></div>
      <div class="card-body">
        <p class="text-white">Coming Soon</p>
      </div>
    </div>
  </div>
</div>
