.gainzone-container{
  margin: auto;
  text-align: center;
}

.gainzone-logo{
  max-width: 350px;
  margin: auto;
  text-align: center;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  display: block;
}

.jumbotron{
  padding: 20px;
}

.bg-trans{
  background-color: rgba(0, 0, 0, 0);
}
