.gainzone-container{
  max-width: 500px;
  margin: auto;
}

.gainzone-logo{
  max-width: 100%;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
}
