<app-toasts></app-toasts>
<div *ngIf="!maintenanceMode">
  <h3 class="text-center mt-5">9Forty5 is waiting for data...</h3>
  <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="!isBanned">
  <div *ngIf="maintenanceMode=='false' || adminAccess">
  <app-header></app-header>
  <app-stock-head></app-stock-head>
  <div class="headerfix"></div>
  <app-alert></app-alert>
  <div class="container-fluid">
    <div *ngIf="loading==true" class="d-flex justify-content-center mt-5 mb-5">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div style="margin-top: 10px;"></div>
  <div *ngIf="loading==false" class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <div style="margin-bottom: 10px;"></div>
  <app-footer></app-footer>
  </div>
</div>
<div class="pt-5" *ngIf="isBanned && isAppealing=='false'">
  <img class="d-block mx-auto mt-5" src="./assets/images/PlainLogoBlack.png" width="250px"/>
  <h3 class="text-center mt-2">You are banned from 9Forty5.</h3>
  <p class="text-center">If you believe this to be a mistake, please submit<br>an appeal form <a href="#" (click)="appealBan()">here</a></p>
</div>
<div class="pt-5" *ngIf="isBanned && isAppealing=='true'">
  <img class="d-block mx-auto mt-5" src="./assets/images/PlainLogoBlack.png" width="250px"/>
  <h3 class="text-center mt-2">Ban Appeal</h3>
  <p class="text-center">Please complete the form below and someone will review your appeal as soon as possible.</p>
  <form class="text-center">
    <input class="appealInput bg-light text-dark" type="text" name="username" placeholder="Username">
    <br>
    <textarea class="bg-light text-dark appealTextarea" style="resize: none;" name="banReason" placeholder="Reason For Ban"></textarea>
    <br>
    <textarea class="bg-light text-dark appealTextarea" style="resize: none;" name="unbanReason" placeholder="Reason You Should Be Unbanned"></textarea>
    <br>
    <input class="appealInput" type="submit" name="Submit" value="Submit">
  </form>
</div>
<div *ngIf="maintenanceMode=='true' && !adminAccess">
  <img class="d-block mx-auto mt-5" src="./assets/images/PlainLogoBlack.png" width="250px"/>
  <h3 class="text-center mt-2">9Forty5 is currently down for maintenance.</h3>
  <input class="mt-4 text-center d-block mx-auto bg-dark text-white" type="text" placeholder="Code" name="adminCode" [(ngModel)]="adminCode" />
  <button class="btn btn-dark text-white d-block mt-2 mx-auto" (click)="submitCode()">Maintenance Access</button>
</div>
