<app-toasts></app-toasts>
<app-header></app-header>
<app-stock-head></app-stock-head>
<div class="headerfix"></div>
<app-alert></app-alert>
<div *ngIf="isHome!=true" class="content-push"></div>
<div *ngIf="hasSidebar==true" class="container-fluid">
  <div class="home-banner" *ngIf="isHome==true">
    <app-home-banner></app-home-banner>
  </div>
  <div class="row">
    <div *ngIf="isHome==true" class="col-lg-9 col-md-9 col">
      <div *ngIf="loading==true" class="d-flex justify-content-center mt-5 mb-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
        <router-outlet *ngIf="loading==false"></router-outlet>
    </div>
    <div *ngIf="isHome!=true" class="col-lg-9 col-md-9 col">
        <div *ngIf="loading==true" class="d-flex justify-content-center mt-5 mb-5">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <router-outlet *ngIf="loading==false"></router-outlet>
    </div>
    <div *ngIf="showWatchlist==true" class="col-lg-3 col-md-3 col">
      <app-watchlist></app-watchlist>
    </div>
  </div>
</div>
<div *ngIf="hasSidebar!=true" class="container-fluid">
  <div *ngIf="loading==true" class="d-flex justify-content-center mt-5 mb-5">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <router-outlet *ngIf="loading==false"></router-outlet>
</div>
<div style="margin-top: 20px;"></div>
<app-footer></app-footer>
<!-- <app-testdata></app-testdata> -->
