<div class="container-fluid bg-dark stockhead-container">
  <div class="row">
    <div class="col">
    <h4>DOW</h4>
    <h3 *ngIf="dowChange=='Positive'" class="positive">{{ djia_price | number : '1.2-2' }} <i class="fas fa-caret-up"></i></h3>
    <h3 *ngIf="dowChange=='Negative'" class="negative">{{ djia_price | number : '1.2-2' }} <i class="fas fa-caret-down"></i><br></h3>
    <p *ngIf="dowChange=='Positive'" class="positive changevalue">{{ dowChangeValue }} ({{ dowChangePerc }})</p>
    <p *ngIf="dowChange=='Negative'" class="negative changevalue">{{ dowChangeValue }} ({{ dowChangePerc }})</p>
    </div>
    <div class="col">
    <h4>Nasdaq</h4>
    <h3 *ngIf="nasChange=='Positive'" class="positive">{{ nasdaq_price | number : '1.2-2' }} <i class="fas fa-caret-up"></i></h3>
    <h3 *ngIf="nasChange=='Negative'" class="negative">{{ nasdaq_price | number : '1.2-2' }} <i class="fas fa-caret-down"></i></h3>
    <p *ngIf="nasChange=='Positive'" class="positive changevalue">{{ nasChangeValue }} ({{ nasChangePerc }})</p>
    <p *ngIf="nasChange=='Negative'" class="negative changevalue">{{ nasChangeValue }} ({{ nasChangePerc }})</p>
    </div>
    <div class="col">
    <h4>S&P 500</h4>
    <h3 *ngIf="spChange=='Positive'" class="positive">{{ sp_price | number : '1.2-2' }} <i class="fas fa-caret-up"></i></h3>
    <h3 *ngIf="spChange=='Negative'" class="negative">{{ sp_price | number : '1.2-2' }} <i class="fas fa-caret-down"></i></h3>
    <p *ngIf="spChange=='Positive'" class="positive changevalue">{{ spChangeValue }} ({{ spChangePerc }})</p>
    <p *ngIf="spChange=='Negative'" class="negative changevalue">{{ spChangeValue }} ({{ spChangePerc }})</p>
    </div>
    <div class="col gold">
    <h4>Gold</h4>
    <h3 *ngIf="goldChange=='Positive'" class="positive">{{ gold_price | number : '1.2-2' }} <i class="fas fa-caret-up"></i></h3>
    <h3 *ngIf="goldChange=='Negative'" class="negative">{{ gold_price | number : '1.2-2' }} <i class="fas fa-caret-down"></i></h3>
    <p *ngIf="goldChange=='Positive'" class="positive changevalue">{{ goldChangeValue }} ({{ goldChangePerc }})</p>
    <p *ngIf="goldChange=='Negative'" class="negative changevalue">{{ goldChangeValue }} ({{ goldChangePerc }})</p>
    </div>
  </div>
</div>
