.log-card{
  max-width: 100%;
  width: 100%;
  padding: 50px;
}

input{
  width: 500px;
  display: block;
  margin: auto;
}


.loginlink{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.loginlink:hover{
  color: grey;
}
