<div class="home-banner">
</div>
<div class="row">
  <div class="col-lg-9 col-md-9 col">
    <app-home-banner></app-home-banner>
    <div *ngIf="postData">
      <div *ngFor="let post of postData" routerLink="/post/{{post.post_slug}}" class="card text-white mb-2 pointer">
        <img src="{{post.post_image}}" class="card-img-top">
        <div class="card-body big-card">
          <h5 class="card-title posttitle">{{ post.post_title | uppercase }}</h5>
          <p class="card-text">{{ post.post_excerpt }}</p>
          <p class="author">Post by <span routerLink="/user/{{ post.post_author | lowercase }}" class="author-user">{{ post.post_author }}</span><br>{{ post.post_date}}</p>
        </div>
      </div>
      </div>
      <div *ngIf="!postData" class="justify-content-center mt-5 mb-5">
        <div class="spinner-border text-center d-block mx-auto" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <p class="ml-2 text-center"><strong>Please Wait...</strong></p>
      </div>
      <div *ngIf="postData==''">
        <p class="ml-2 text-center"><strong>Error fetching posts.<br>Please try again later.</strong></p>
      </div>
  </div>
  <div class="col-lg-3 col-md-3">
    <app-watchlist></app-watchlist>
  </div>
</div>
