<div class="home-banner">
</div>
<div class="row">
  <div class="col-lg-9 col-md-9 col">
    <app-home-banner></app-home-banner>
        <div class="card bg-dark text-white mb-3">
          <img src="/assets/images/stock-images/stock-market-down.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card bg-dark text-white mb-3" style="max-width: 100%;">
          <div class="row">
            <div class="col-md-4">
              <img src="/assets/images/stock-images/stock-image.jpg" class="h-100 card-img">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="col-lg-3 col-md-3">
    <app-watchlist></app-watchlist>
  </div>
</div>
