<div *ngIf="!jwtUsertype && jwtUsertype != 'Admin' && jwtUsertype != 'Super-Admin'">
  You do not have permission to access this page.
</div>
<div class="row" *ngIf="jwtUsertype == 'Admin' || jwtUsertype == 'Super-Admin'">
  <div class="col-lg-6 mt-2">
  <div class="card bg-dark">
    <div class="card-header text-white"><h3>Admin Operations</h3></div>
    <div class="card-body">
      <button class="btn btn-danger" (click)="refreshIndex()">Refresh Index Data</button><span class="text-white p-2"> Response: {{indexRes}}</span>
      <br><br>
      <button class="btn btn-danger" (click)="refreshWatchlist()">Refresh Watchlist Data</button><span class="text-white p-2"> Response: {{watchlistRes}}</span>
      <br><br>
      <button class="btn btn-danger" (click)="refreshGenList()">Refresh All Stock Data</button><span class="text-white p-2"> Response: {{stockRes}}</span>
      <br><br>
      <button class="btn btn-light" (click)="clearRes()">Clear Responses</button>
    </div>
  </div>
  </div>
  <!-- <p class="text-white"><strong>Index Table</strong> was updated on {{ indexUpdateTime | date:"MM/dd/yyyy 'at' h:mma"}} EST</p> -->

  <div class="col-lg-6 mt-2">
    <div class="card bg-dark">
      <div class="card-header text-white"><h3>Application Info</h3></div>
      <div class="card-body">
        <table class="text-white">
          <thead>
            <th>Setting</th>
            <th></th>
          </thead>
          <tr>
            <td>Last Index Update</td>
            <td>{{ indexUpdateTime }}</td>
          <tr>
          <tr>
            <td>Last GenStock Update</td>
            <td>{{ genstockUpdateTime }}</td>
          <tr>
          <tr>
            <td>Last Watchlist Update</td>
            <td>{{ watchlistUpdateTime }}</td>
          <tr>
          <tr>
            <td>Registered Users</td>
            <td>{{ userCount }}</td>
          </tr>
          <tr>
            <td>Stocks in DB</td>
            <td>{{ stockCount }}</td>
          </tr>
          <tr>
            <td>Maintanence Mode</td>
            <td>{{ maintMode | uppercase }} <a class="btn btn-warning mx-2" (click)="toggleMaint()">TOGGLE</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="jwtUsertype == 'Admin' || jwtUsertype == 'Super-Admin'">
  <div class="col-lg-6 mt-2">
    <div class="card bg-dark">
      <div class="card-header text-white"><h3>Notification Operations</h3></div>
      <div class="card-body">
        <input type="text" placeholder="Noti Test Username or UID" name="testNotiUser" [(ngModel)]="this.testNotiUser">
        <br><br>
        <input type="text" placeholder="Noti Test Title" name="testNotiMsg" [(ngModel)]="this.testNotiTitle">
        <br><br>
        <input type="text" placeholder="Noti Test Message" name="testNotiBody" [(ngModel)]="this.testNotiBody">
        <br><br>
        <input type="text" placeholder="Noti Test Link" name="testNotiLink" [(ngModel)]="this.testNotiLink">
        <br><br>
        <button class="btn btn-primary" (click)="createTestNoti()">Generate Notification</button><span class="text-white p-2"> Response: {{notiRes}}</span>
        <br><br>
        <button class="btn btn-light" (click)="clearNotiRes()">Clear Response</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mt-2">
    <div class="card bg-dark">
      <div class="card-header text-white"><h3>User Operations</h3></div>
      <div class="card-body">
        <p class="text-white">Coming Soon</p>
      </div>
    </div>
  </div>
</div>
