.profile-navigation{
  display: inline-block;
  margin-left: 20px;
}

.profile-pic{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #dfdfdf;
  display: inline-block;
  margin-right: 2px;
  margin-top: -2px;
}

.profiledisplay{
  display: inline-block;
  color: #555;
  padding: 2px;
  font-weight: 500;
  font-size: 14px;
}

.profile-navigation a:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.pointer:hover{
  cursor: pointer;
}

.dropdown-item, .dropdown-menu{
  z-index: 100;
}

.dropdown-item.active, .dropdown-item:active{
  color: #fff !important;
  background-color: #343a40;
}
