<div class="profile-navigation">
  <div *ngIf="loggedUser && !isBanned" style="margin-top: -5px;">
  <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
    <a ngbDropdownToggle class="userpic pointer"><img class="profile-pic" src="{{ image_path }}"></a>
    <p class='profiledisplay'></p>
    <a id="profileDropdown" ngbDropdownToggle class="profiledisplay pointer">{{ loggedUser | titlecase }}</a>
    <div class="dropdown-menu profiledrop" ngbDropdownMenu aria-labelledby="profileDropdown">
      <a (click)="viewMyProfile()" class="dropdown-item pointer">View Profile</a>
      <a *ngIf="playcaller=='true'" routerLink="playcaller/{{userSlug | lowercase}}" class="dropdown-item pointer">PlayCaller Page</a>
      <a class="dropdown-item" href="#">Your Watchlist</a>
      <a class="dropdown-item" routerLink="/directory">User Directory</a>
    </div>
  </div>
  <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
    <span *ngIf="notiCount" class="noti"> {{ notiCount }} </span>
    <a (click)="viewNoti()" ngbDropdownToggle="notiDropdown" class="notibell pointer"><i class="fas fa-bell"></i></a>
    <p class="profiledisplay trans">|</p>
  <div class="notidrop dropdown-menu" ngbDropdownMenu aria-labelledby="notiDropdown">
    <div *ngIf="notifications">
    <a (click)="clearNotiList()" style="margin-top: -8px;" class="dropdown-item bg-secondary text-white pointer">Clear Notifications</a>
    <a *ngFor="let noti of notifications | orderBy: ['-noti_date']" class="dropdown-item pointer" style="margin:5px 0px;" routerLink="{{noti.noti_link}}">
      <span *ngIf="noti.status=='NEW'" class="noti-indicator"></span>
      <h4 class="noti-title"><strong>{{ noti.noti_title }}</strong></h4>
      <p class="noti-body">{{ noti.noti_body }}</p>
      <p class="noti-date">{{ noti.noti_date | date:'short'}}</p>
    </a>
    </div>
    <p *ngIf="!notifications" style="text-align: center;padding-top: 15px;" class="dropdown-item disabled">No Notifications</p>
  </div>
  </div>
  <div ngbDropdown display="dynamic" placement="bottom-right" class="d-inline-block">
    <a ngbDropdownToggle="settingsDropdown" class="settingcog pointer"><i class="fas fa-cog"></i></a>
    <p class="profiledisplay trans">|</p>
  <div class="settingsdrop dropdown-menu" ngbDropdownMenu aria-labelledby="settingsDropdown">
    <a routerLink="/edituser/{{userSlug}}" class="dropdown-item pointer">Edit Profile</a>
    <a class="dropdown-item pointer">Account Settings</a>
    <a *ngIf="jwtUsertype=='Editor' || jwtUsertype=='Super-Admin' || jwtUsertype=='Admin'" class="dropdown-item pointer" (click)="goToEM()">Editor Menu</a>
    <a *ngIf="jwtUsertype=='Super-Admin' || jwtUsertype=='Admin'" class="dropdown-item pointer" (click)="goToAM()">Admin Menu</a>
    <a *ngIf="adminAccess" (click)="endAdminAccess()" class="pointer dropdown-item">Clear Maintenance Code</a>
    <a (click)="logout()" class="dropdown-item pointer">Logout</a>
  </div>
  </div>
  </div>
  <div *ngIf="!loggedUser && !isBanned">
    <a routerLink="login" class="profiledisplay">Login</a>
    <p class="profiledisplay">|</p>
    <a routerLink="register" class="profiledisplay register">Register</a>
  </div>
  <div *ngIf="!loggedUser && isBanned">
    <p class="profiledisplay">You are Banned</p>
  </div>
</div>
