.learninghub-container{
  max-width: 500px;
  margin: auto;
}

.learninghub-logo{
  max-width: 100%;
}

.jumbotron{
  padding: 10px;
  margin-bottom: 5px !important;
}

#learningHub button {
    color: #fff;
}

#learningHub button:hover {
    color: #ccc !important;
    text-decoration: none;
}

.learntab{
  margin: 2px 0px;
}

.admininfo{
  color: rgb(249, 65, 65);
  font-weight: bold;
}

.editorinfo{
  color: rgb(249, 175, 65);
  font-weight: bold;
}

.pcinfo{
  color: #85fff4;
  font-weight: bold;
}
