<div class="row">
  <div class="col-12 mt-2">
    <div class="card">
      <div class="card-body text-center">
        <h3>Welcome to the Learning Hub</h3>
        <p class="mb-0">Here, you can find all information about 9Forty5 as well as general stock information and strategies.</p>
      </div>
    </div>
  </div>
  <div class="col-12 mt-2">
    <div class="accordion" id="learningHub">
      <div *ngFor="let learnTab of learnTabs | orderBy: ['tabID']" class="card learntab">
        <div class="card-header bg-dark" id="{{learnTab.headerID}}">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#' + learnTab.bodyID" aria-expanded="false" [attr.aria-controls]="learnTab.bodyID">
              {{learnTab.tabID}}. {{learnTab.tabTitle}}
            </button>
          </h2>
        </div>
        <div id="{{learnTab.bodyID}}" class="collapse" [attr.aria-labelledby]="learnTab.headerID" data-parent="#learningHub">
          <div class="card-body">
            {{learnTab.tabBody}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h4>Want to Become a PlayCaller?</h4>
      </div>
      <div class="card-body">
        <p>Pass the 'PlayCaller Exam' and a staff member will review your account to see if you are eligible to become a Verified PlayCaller!</p>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-2">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h4>Have more questions?</h4>
      </div>
      <div class="card-body">
        <p>Feel free to reach out to us and we will get back to you as soon as possible!</p>
        <a>Contact Us</a>
      </div>
    </div>
  </div>
</div>
