<div class="jumbotron bg-dark jumbotron-fluid mb-1">
  <div class="text-center">
    <div class="learninghub-container">
      <img class="learninghub-logo" src="/assets/images/LearningHubWhite.png"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 mt-3">
    <div class="card bg-dark">
      <div class="card-header text-white"><h3>Something</h3></div>
      <div class="card-body">
        <p class="text-white">Coming Soon</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mt-3">
    <div class="card bg-dark">
      <div class="card-header text-white"><h3>Something</h3></div>
      <div class="card-body">
        <p class="text-white">Coming Soon</p>
      </div>
    </div>
  </div>
</div>
