body {
     margin: 0;
     padding: 0;
}

/* Importing Quill files. */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.bg-dark {
  background-color: rgba(0,0,0,0.92) !important;
}

.card {
  border-radius: 0px !important;
}

.btn {
  border-radius: 0px !important;
}

.alert {
  border-radius: 0px !important;
}

.dropdown-menu{
  border-radius: 0px !important;
}
